<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>Meus Contatos</h2>
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>e-Mail</th>
                        <th>Telefone</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fulano de Tal</td>
                        <td>fulano@gmail.com</td>
                        <td>(32)9999-9999</td>
                        <td> 
                            <button class="btn btn-danger">Deletar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Ramon</td>
                        <td>ramon@gmail.com</td>
                        <td>(32)98888-8888</td>
                        <td>
                            <button class="btn btn-danger">Deletar</button>
                        </td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>